@import '../../style/config';


$boxCount: 100;
$baseSize: 20rem;
$tilt: 45;
$colorSet: $color-red-30,
    $color-pink-30,
    $color-purple-30,
    $color-indigo-30,
    $color-blue-30,
    $color-cyan-30,
    $color-green-30,
    $color-yellow-30,
    $color-orange-30,
    $color-red-30;

.background {
    width: 100vw;
    height: 100vw;
    position: fixed;
    background: $color-pink-30;
    overflow: hidden;
}
.background div {
    position: absolute;
    //
    // animation-duration: 20s;
    // animation-iteration-count: infinite;
    // animation-name: box-animation-1;
    opacity: 25%;
    will-change: transform;
    filter: blur(9px);
    @for $i from 1 through $boxCount {
      &:nth-child(#{$i}) {
          $randomizedSize: random() + $baseSize;
          width: $randomizedSize;
          height: $randomizedSize;
          top: random(120) * 1% - 10;
          left: random(120) * 1% - 10;
          background-color: nth($colorSet, random(length($colorSet)));
      }
    }
}
@keyframes box-animation-1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}
