@import './style/mixins';

body {
    overflow-x: hidden;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Cormorant Garamond', serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 60px !important;
  letter-spacing: -0.1em;
  @include transform(scale(1.8,0.8));
  padding: 0px;
}

.react-icons {
  vertical-align: middle;
}
