@import './style/mixins';

body {
    overflow-x: hidden;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Cormorant Garamond', serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




.react-icons {
  vertical-align: middle;
}
