@import '../../style/mixins';

.mesh-bar-container {

}

.flip-col img {
}


.title {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  color: white;
  padding: 0px;
  padding-left: 10px;
  margin: 0px;
  margin-bottom: -15px;
  text-align: left;
  font-size: 60px !important;
  letter-spacing: -0.1em;
  @include transform(scale(1.5,0.8));
  -webkit-transform-origin-x: 0;
}

.link {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    letter-spacing: -0.1em;
    margin: 0px;
    padding: 10px 0px;
    -webkit-transform-origin-x: 0;
    @include transform(scale(2,1));
    &-white {
        @extend .link;
        color: white;
    }
}
