.content-container {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px;
    background-color: rgba(255, 255, 255, 0.5);
    &-header {
        @extend .content-container;
        padding: 0px !important;
    }
}


.sc-container {
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
}

.header-container {
    padding: 0px;
}
