.rev-page-container {
    text-align: 'center';
    max-height: 100%;
}

p {
    color: white;
    text-align: right;
    font-size: 26px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: -5px !important;
}

.song-text-container {
    position: absolute;

    @media screen and (orientation: portrait)
    {
        right: 25px;
        bottom: 10vh;
    }
    @media screen and (orientation: landscape)
    {
        bottom: 7%;
        right: 10vw;
    }
}

.social-media-links-container {
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    a {
        font-size: 50px;
        margin-left: 20px;
        color: white;
        border-radius: 50%;
        &:hover{
            text-decoration: none;
            color: white;
        }
    }

    @media screen and (orientation: portrait)
    {
        flex-direction: row;
    }
}

#spotify:hover {
    --shadow-color-full: rgba(30, 215, 96, 0.7);
    --shadow-color-hide: rgba(30, 215, 96, 0); 
    animation: pulse 1s linear;
}

#matter:hover {
    --shadow-color-full: rgba( 137, 106, 250, 0.7);
    --shadow-color-hide: rgba( 137, 106, 250, 0); 
    animation: pulse 1s linear;
}

#audius:hover {
    --shadow-color-full: rgba( 134, 42, 231, 0.7);
    --shadow-color-hide: rgba( 134, 42, 231, 0); 
    animation: pulse 1s linear;
}

#instagram:hover {
    --shadow-color-full: rgba( 235, 75, 93, 0.7);
    --shadow-color-hide: rgba( 235, 75, 93, 0); 
    animation: pulse 1s linear;
}

@keyframes pulse {
    0% {
        transform: scale(0.7);
        box-shadow: 0 0 0 0 var(--shadow-color-full);
        background-color: var(--shadow-color-full);
        color: black;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 200px var(--shadow-color-hide);
        background-color: var(--shadow-color-hide);
        color: white;
    }
}


